<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
    <remove name="mySQLconn"/>
    <add name="mySQLconn" connectionString="Data Source=localhost;Database=test;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>

    <!--<add name="mySQLconn" connectionString="Server=182.50.133.78; Port=3306; Database=hotel;User Id=hotel; Pooling=True; Password=hotel1234; Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
